body {
	font-family: Arial, sans-serif;
	background: linear-gradient(
		400deg,
		#02221d,
		#071e22,
		#023249,
		#09373a,
		#66430e,
		#802205,
		#581703
	);
	background-size: 1000% 1000%;
	margin: 0;
	padding: 0;
	color: #ffffff;
	animation: gradient 30s ease infinite;
}

.root {
	margin: 0;
	padding: 0;
	text-align: center;
}
.introduction {
	padding: 20px;
	text-align: center;

	background: linear-gradient(
		400deg,
		rgb(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.75)
	);
	background-size: 1000% 1000%;
	background-clip: text;
	color: transparent;
	animation: gradient 30s ease infinite;
}
#name {
	font-size: 3rem;
	margin-bottom: 10px;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.3) 0%,
		rgba(255, 255, 255, 0.3) 20%,
		rgba(255, 255, 255, 0.75) 30%,
		rgba(255, 255, 255, 0.3) 40%,
		rgba(255, 255, 255, 0.3) 60%
	);
	background-size: 25% 100%;

	-webkit-background-clip: text;
	background-clip: text;

	-webkit-text-fill-color: transparent;
	color: transparent;

	animation: text-gradient 15s ease infinite;
}
.project-description {
	font-size: 1rem;

	background: linear-gradient(
		400deg,
		rgb(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.75)
	);
	background-size: 1000% 1000%;
	background-clip: text;
	color: transparent;
	animation: gradient 30s ease infinite;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.5rem;
	transition: color 0.3s ease;
}
a:hover {
	background: linear-gradient(
		400deg,
		rgb(255, 255, 255, 0.5),
		rgba(255, 255, 255, 1)
	);
	background-size: 1000% 1000%;
	background-clip: text;
	animation: gradient 1.5s ease infinite;
}
.project-title {
	font-weight: bold;
	background: linear-gradient(
		400deg,
		rgb(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.75)
	);
	background-size: 1000% 1000%;
	background-clip: text;
	color: transparent;
	animation: gradient 30s ease infinite;
}
.project-list {
	padding: 20px;
}
.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 75px;
	justify-items: center;
	align-items: center;
	padding: 20px;
	margin: 0 auto;
}
.project-item {
	background: rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	min-width: 300px;
	max-width: 300px;
	min-height: 300px;
	max-height: 300px;
	justify-items: center;
	align-items: center;
	color: #fff;
	transition: background 0.4s ease;
}
.project-item:hover {
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
.appendix {
	padding: 20px;
}
footer {
	font-size: 0.9rem;
	background: linear-gradient(
		400deg,
		rgb(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.75)
	);
	background-size: 1000% 1000%;
	background-clip: text;
	color: transparent;
	animation: gradient 30s ease infinite;
}

@keyframes text-gradient {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.custom-alert {
	display: none;
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	color: rgb(255, 255, 255, 0.5);
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	max-width: 300px;
	font-family: Arial, sans-serif;
	font-size: 1rem;
}

.close-alert {
	background: none;
	border: none;
	font-size: 1.2rem;
	font-weight: bold;
	color: rgb(255, 255, 255, 0.5);
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}

.close-alert:hover {
	color: rgb(255, 255, 255, 0.75);
}

.custom-alert.show {
	display: block;
	animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media (max-width: 600px) {
	.personal-info > div {
		flex: 1 1 100%;
	}
}
